*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
PlainText/.gradle/
PlainText/app/build/
PlainText/local.properties
Jetcastersample/.gradle/
Jetcastersample/build/
Jetcastersample/local.properties
